@charset "utf-8";
#container {
	background-color: #2d2d2d;
	width: 464px;
}
td {
	width: 60px;
	height: 30px;
	cursor: pointer;
	text-align: center;
	border: 1px solid white;
}
/*picked-day element*/
#picked-day {
	width: 205px;
	height: 25px;
	background: white url(../../img/calendar-icon.jpg) no-repeat;
	background-size: 25px 25px;
	background-position: 175px 2px;
	border: 1px solid blue;
}
/*control element*/
.control {
	text-align: center;
	background-color: #a9cce3;
}
#month {
	width: 100%;
	height: 100%;
}
#year {
	width: 100%;
	height: 100%;
}
/*weekdays element*/
.weekdays td {
	color: red;
	background: #bebebe;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
}
/*days element*/