@charset="utf-8";
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #2D2F35;
	margin: 0;
	padding: 0;
}
.title {
	color: yellow;
	font-family: Courier New;
	letter-spacing: 1px;
}
p {
	color: white;
	margin: 0 0 45px 0;
	font-size: smaller;
}
h2 { margin-top: 0px; }
h3 { margin-top: 0px; }
.clear { clear: both; }
/*header element*/
.logo {	margin: 10px; }
.header {
	border-bottom: 1px solid #474a51;
}
/*banner element*/
.banner {
	background-image: url(../../img/bg_home_intro.gif);
	padding: 0 10% 0 10%;
	float: left;
	border-bottom: 1px solid #474a51;
}
.banner-left {
	float: left;
	width: 39%;
}
.banner-right {
	float: left;
	position: absolute;
	right: 12%;
}
/*menu element*/
.menu {
	padding: 20px 0 10px 0;
	border-bottom: 1px solid #474a51;
}
.menu ul {
	width: 100%;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.menu ul li {
    display: inline-block;
	margin-right: 20px;
}
.menu-number {
	position: absolute;
	padding-left: 188px;
	padding-top: 2px;
}
/*content element*/
.content {
	padding: 10px 12% 0 10%;
	border-bottom: 1px solid #474a51;
	float: left;
}
.content-left {
	width: 40%;
	text-align: justify;
	float: left;
	background-image: url(../../img/home_services_bg_design.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.content-right {
	width: 40%;
	text-align: justify;
	float: right;
	background: url(../../img/home_services_bg_marketing.gif);
	background-repeat: no-repeat;
}
.content-left h3 {
	font-size: 20px;
	margin-bottom: 0;
}
.content-right h2 { font-size: 20px; }
.content-left p {
	margin-top: 5px;
	letter-spacing: -0.04px;
}
.content-right p {
	letter-spacing: -0.04px;
}
/*footer element*/
.footer {
	background: url(../../img/bg_footer.gif) center no-repeat #24262a;
	text-align: center;
	height: 110px;
}