@charset="utf-8";

body {
	background-color: black;
	font-family: Arial;
	font-size: .6875em;
	padding: 0;
	margin: 0;
}

#container {
	background: #121214;
	color: #797782;
	width: 80%;
	margin: 0 auto;
	padding-top: 15px;
}

h4 {
	color: white;
}

a {
	color: #595959;
}

hr {
	border-top: 1px dotted;
	margin-bottom: 15px;
}

.clear {
	clear: both;
}

.name-file {
	margin-bottom: 40px;
}

/*left part*/
.left-part {
	width: 40%;
	padding-left: 7%;
}

.top-left-part {
	float: left;
	margin-bottom: 80px;
}

.top-left-part img {
	height: 100px;
	margin-bottom: 30px;
    margin-right: 15px;
	float: left;
}

.info p {
	line-height: 15px;
    letter-spacing: .4px;
	margin-bottom: 0px;
}

/*under-info*/
.under-info {
	padding-left: 15px;
}

.under-info p {
	margin-top: 0px
}

/*bottom left part*/
.bottom-left-part .info {
	padding-left: 15px;
}

.bottom-left-part ul{
	padding-left: 15px;
	list-style-image: url(../../img/list2.gif);
	column-count: 2;
	column-gap: 40px;
}

/*right part*/
.right-part {
	padding-left: 15px;
}

/*more info*/
.more-info {
	color: white;
	text-decoration: none;
}

.more-info:before {
	content: url(../../img/info.gif);
	margin-right: 5px;
}

/*right part*/
.right-part {
	background-color: #232326;
	width: 45%;
}

