@charset "utf-8";
body {
	background-color: black;
	font-family: Arial;
	font-size: .6875em;
	padding: 0;
	margin: 0;
}
#container {
	background: #121214;
	color: #797782;
	margin: 0 auto;
	padding: 20px;
	overflow: auto;
}
h4 { color: white; }
span {
	color: white;
	letter-spacing: -.5px;
}
a { color: gray; }
.clear { clear: both; }
.name-file { margin-bottom: 40px; }
/*left-part element*/
.left-part {
	width: 33%;
	padding: 2px 30px 60px 60px;
	float: left;	
}
.top-left-part {
	float: left;
	margin-bottom: 70px;
}
.top-left-part img {
	height: 100px;
	margin-bottom: 30px;
    margin-right: 25px;
	float: left;
}
.info p {
	line-height: 15px;
    letter-spacing: .4px;
	margin-bottom: 0;
	margin-top: 0;
}
/*under-info*/
.under-info {
	padding-left: 15px;
	margin-bottom: 20px;
}
.under-info p {
	margin-top: 0;
	margin-bottom: 15px;
}
/*bottom left part*/
.bottom-left-part .info { padding-left: 15px; }
.bottom-left-part ul {
	padding-left: 8px;
	list-style-image: url(../../img/list2.gif);
	column-count: 2;
	column-gap: 0;
	line-height: 25px;
	margin-top: 15px;
}
.bottom-left-part h4 {
	margin-bottom: 0;
	letter-spacing: -.3px;
}
/*more-info element*/
.top-dotted {
	border-top: 1px dotted #3f3f41;
	padding-top: 15px;
}
.more-info {
	color: white;
	text-decoration: none;
}
.more-info:before {
	content: url(../../img/info.gif);
	margin-right: 5px;
}
/*right part*/
.right-part {
	background-color: #232326;
	width: 17%;
	float: left;
	padding: 75px 20px 35px 20px;
}
.right-part-img { text-align: center; }
.right-part img {
	height: 110px;
	width: 200px;
}
.right-part .top-dotted { padding-top: 30px; }
.right-part-info { margin: 15px 0 50px 12px; }
.right-part-info h4 { margin-bottom: 0; }
.p-top {
	font-size: 12px;
	margin: 5px 0 0 0;
	line-height: 1;
}
.p-bottom {
	font-size: 13px;
	margin: 0 0 0 0;
}
.right-part .more-info { margin-left: 12px; }