@charset "utf-8";
#container {
	background: white;
	width: 100%;
}
/*error elements*/
.error { color: red; }
.column-left {
	text-align: right;
	display: table-cell;
	width: 80px;
	vertical-align: middle;
}
/*comlumn-right elements*/
.column-right {
	width: 400px;
	text-align: left;
	display: table-cell;
	padding: 0 0 10px 15px;
}
table {
	display: none;
	border: 1px solid black;
}
td { width: 52px; }
.form-row { display: table; }