@charset="utf-8";

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
}

#container {
	width: 500px;
	margin: 0 auto;
	border: 1px solid #03F;
}

.title {
	margin: 0;
	padding-top: 3px;
	background-image: url(../../img/title_bg.gif);
	height: 25px;
	font-weight: bold;
}

/*player profile*/
.player-info img {
	width: 100px;
	height: 90px;
	padding: 3px;
}

.player-info {
	display: -webkit-flex;
	display: flex;
	padding-left: 3px;
	padding-right: 3px;
}

.detail-info {
	margin-left: 15px;
	height: 100px;
	width: 100%;
	overflow: scroll;
}

ul.detail-info {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*Facts*/
.facts .title {
	background: none;
}

.facts ul li:before {
	content: url(../../img/star.gif);
	margin-right: 5px;
}

.facts-info {
	list-style: none;
	margin-top: 10px;
}

.facts {
	margin-bottom: 30px;
	padding: 5px;
}

/*comments*/
.comments {
	padding: 3px;
}

.info-comment {
	background: #ECECEC;
	padding: 5px 5px;
	margin: 0;
}

.info-person-comment{
	margin: 0;
	font-size: 14px;
}

.info-person-comment:before {
	content: url(../../img/comment_bg.gif);
	width: 25px;
	height: 20px;
	margin-left: 20px;
	margin-right: 10px;
}

.comments a {
	text-decoration: none;
}

/*Your Comment*/
.your-comment {
	margin-top: 20px;
	padding-left: 3px;
	padding-right: 3px;
}

.your-comment .title {
	background: none;
	text-align: center;
}

.your-comment-row {
	display: table;
	padding: 1px;
	margin: 1px;
}

.your-comment-left {
	padding-left: 3px;
	margin-top: 2px;
	display: table-cell;
	width: 125px;
	vertical-align: middle;
}

.your-comment-right {
	display: table-cell;
	vertical-align: middle;
}

.your-comment-right textarea {
	margin-top: 2px;
	width: 356px;
	height: 100px;
	resize: none;
}