@charset "utf-8";
body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	color: #63636e;
	background: #121212;
	font-size: 12px;
}
#container { overflow: auto; }
ul { list-style-type: none; }
.clear { clear: both; }
.dotted-top { border-top: 1px dotted; }
/*header element*/
.header {
	position: relative;
	height: 349px;
	background: url('../../img/fill_header.jpg') left bottom no-repeat;
}
.logo {
	background: url('../../img/logo.jpg') no-repeat;
	width: 353px;
	height: 116px;
	position: absolute;
	top: 53px;
	left: 45px;
}
.logo p {
	font-size: 40px;
	font-weight: bold;
	margin-left: 100px;
	color: black;
}
.logo span { color: #63636e; }
.menu {
	position: absolute;
	bottom: 40px;
	left: 23px;
}
.menu li {
	color: white;
	float: left;
	margin-right: 5px;
}
.menu a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-right: 12px;
}
.menu ul { text-align: center; }

/*content element*/
.content {
	margin-top: 25px;
	width: 739px;
}
/*left-content element*/
.left-content {
	background-color: #232326;
	overflow: auto;
	float: left;
	width: 195px;
	padding: 45px 25px 25px 25px;
	margin: 0 35px 0 65px;
}
.left-content p { padding: 15px 0 65px 15px; }
.left-content ul {
	list-style-image: url(../../img/arr.gif);
	margin-left: -8px;
	line-height: 2;
	margin-top: 20px;
}
.left-content a {
	color: gray;
	font-size: 11px;
}
/*right-content element*/
.right-content {
	width: 394px;
	float: left;
	margin-top: 50px;
}
.right-content a:before {
	content: url(../../img/arr_1.gif);
	margin-right: 5px;
}
.info {
	margin: 10px 0 30px 0;
	padding: 10px;
}
.info a {
	text-decoration: none;
	color: white;
}
.right-content p {
	font-size: 11px;
	margin-bottom: 15px;
}
.dotted-top { margin-bottom: 15px; }
/*footer element*/
.footer {
	margin: 0 0 40px 65px;
	padding: 10px;
}
.footer a { color: #63636e; }
.footer p { padding: 10px; }